@import '../common/styles/sass/variables';

.hireBlock {
    background-image: url("../assets/images/remote.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        background-color: black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.4;
    }
    .hireContainer {
        display: flex;
        flex-direction: column;
        //justify-content: center;
        padding: 60px ;
        z-index: 2;

        .title {
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            margin: 20px 0 50px;
            color: $bgColor;
            z-index: 2;
            @media screen and (max-width: 439px) {
                font-size: 24px;
            }
        }

        .hireBtnWrapper {
            text-align: right;
            margin-top: auto;
            z-index: 2;

            .hireBtn {
                font-size: 16px;
                padding: 15px 20px;
                margin-top: 20px;
                margin-bottom: 60px;
                color: $bgColor;
                background-color: $primaryColor;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
                }
            }
        }
    }

}



