.hireBlock {
    background: url("../assets/images/tech.jpg") no-repeat;
    background-size: cover;
}

.hireContainer {
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
}

.title {
    background-color: #ccf8ff;
}

.hireButton {
    padding: 10px 20px;
    background-color: #5898b9;
}