.contactsBlock {
    background-color: #05a9ca;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #ccf8ff;
}

.contactForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #07beff;
}

.contactForm input, .contactForm textarea {
    width: 100%;
}

.submitBtn {
    padding: 10px 20px;
    background-color: #5898b9;
}

@media screen and (max-width: 480px) {
    .contactForm {
        width: 100%;
    }
}