.remoteWorkBlock {
    height: 100px;
    background-color: #05a9ca;
}

.wrapper {
    flex-direction: column;
    margin: 0 auto;
}

.text {
    display: block;
    background-color: #ccf8ff;
    font-size: 20px;
    text-align: center;
    margin: 5px auto;
}

.hireButton {
    text-align: center;
    width: 130px;
    padding: 10px;
    background-color: #5898b9;
    margin: 5px auto;
}