@import '../common/styles/sass/variables';

.skillsBlock {
  /*min-height: 100vh;*/
  background-color: $bgColor;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @media screen and (max-width: 1054px) {
        justify-content: space-between;
      }
      @media screen and (max-width: 717px) {
        justify-content: center;
      }
    }
  }
}



