@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.project {
  width: 400px;
  display: flex;
  flex-direction: column;
  background: $bgColor;
  box-shadow: 0 0 30px rgb(0 0 0 / 17%);
  margin: 10px 10px 60px 10px;
  padding-bottom: 30px;

  .image {
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .subTitle {
    @include fontStyle(('Open Sans', sans-serif), 20px, 800);
    display: block;
    text-align: left;
    padding-left: 20px;
    margin: 10px 0;

  }

  .description {
    text-align: left;
    font-size: 15px;
    padding: 0 20px 10px 20px;
    color: $smallTextColor;
    margin: 0 0 10px;
  }

  .viewBtnWrapper {
    text-align: center;
    margin-top: auto;

    .viewBtn {
      font-size: 16px;
      padding: 9px 18px;
      color: $bgColor;
      background-color: $primaryColor;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 30px rgb(0 0 0 / 20%);
      }
    }
  }
}









