.project {
    width: 350px;
    /*background-color: #0897ff;*/
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 30px rgb(0 0 0 / 13%);
    margin: 10px;
    /*padding-bottom: 40px;*/

}

.image {
    height: 250px;
    background-color: #34d8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subTitle {
    display: block;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin: 10px 0;

}

.description {
    text-align: left;
    font-size: 15px;
    padding: 0 20px 10px 20px;
    color: #555;
    margin: 0 0 10px;
}
.viewBtn {
    width: 120px;
    font-size: 16px;
    padding: 9px 18px;
    color: #fff;
    background-color: #0099e6;
    text-align: center;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.viewBtn:hover {
    box-shadow: 0 0 30px rgb(0 0 0 / 13%);
}