.project {
    width: 400px;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 30px rgb(0 0 0 / 17%);
    margin: 10px 10px 60px 10px;
    padding-bottom: 20px;
    /*border: solid rgb(0 0 0 / 17%) 1px;*/

}

.image {
    height: 300px;
    background-color: #34d8ff;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.subTitle {
    display: block;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin: 10px 0;

}

.description {
    text-align: left;
    font-size: 15px;
    padding: 0 20px 10px 20px;
    color: #555;
    margin: 0 0 10px;
}
.viewBtnWrapper {
    text-align: center;
}
.viewBtn {
    font-size: 16px;
    padding: 9px 18px;
    color: #fff;
    background-color: #0099e6;
    cursor: pointer;
}

.viewBtn:hover {
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}