
.heading {
    padding: 40px 0;
    text-align: center;
    display: block;
}

.subTitle {
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 800;
    height: 39px;
}

hr {
    height: 4px !important;
    width: 70px;
    position: relative;
    text-align: center;
    margin: 10px auto;
    background-color: #000;
    border: 0;
    border-top: 1px solid #eee;

}
