@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.nav {
  width: 320px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  @media screen and (max-width: 359px) {
    width: 100%;
    padding: 3px;
  }

  a {
    text-decoration: none;
    padding: 10px;
    color: $bgColor;
    @media screen and (max-width: 359px) {
      padding: 3px;
    }

    &:hover {
      color: $primaryColor
    }
  }

}