.rightsBlock {
    background-color: #0c96af;
}

.wrapper {
    flex-direction: column;
    height: 150px;
    margin: 10px auto;
}

.name {
    display: block;
    width: 150px;
    background-color: #ccf8ff;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}

.rights {
    display: block;
    width: 200px;
    background-color: #ccf8ff;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}

.someWrapper {
    width: 280px;
    display: flex;
    justify-content: space-between;
    background-color: #61dafb;
}

.someNote {
    width: 50px;
    height: 50px;
    background-color: #07beff;
}